<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.maxiselogin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ParentView.MainLoggedInActivity"></activity>
        <activity android:name=".ParentView.MainLoggedInHelp"></activity>
        <activity android:name=".ChildView.MainLoggedInHelp"></activity>
        <activity android:name=".ParentView.MainLoggedInHighScore"></activity>
        <activity android:name=".ParentView.MainLoggedInDifficulty"></activity>
        <activity android:name=".ChildView.LevelOne.LevelOneEpisodeOne"></activity>
        <activity android:name=".ChildView.LevelOne.LevelOneEpisodeTwo"></activity>
        <activity android:name=".ChildView.LevelOne.LevelOneEpisodeThree"></activity>
        <activity android:name=".ChildView.LevelTwo.LevelTwoEpisodeOne"></activity>
        <activity android:name=".ChildView.LevelTwo.LevelTwoEpisodeTwo"></activity>
        <activity android:name=".ChildView.LevelTwo.LevelTwoEpisodeThree"></activity>
        <activity android:name=".ParentView.LevelOne.LevelOneEpisodeOne"></activity>
        <activity android:name=".ParentView.LevelOne.LevelOneEpisodeTwo"></activity>
        <activity android:name=".ParentView.LevelOne.LevelOneEpisodeThree"></activity>
        <activity android:name=".ParentView.LevelTwo.LevelTwoEpisodeOne"></activity>
        <activity android:name=".ParentView.LevelTwo.LevelTwoEpisodeTwo"></activity>
        <activity android:name=".ParentView.LevelTwo.LevelTwoEpisodeThree"></activity>
        <activity android:name=".ChildView.MainLoggedInDifficulty"></activity>
        <activity android:name=".ChildView.MainLoggedInActivity"></activity>
        <activity
            android:name=".BeforeLogin.LoginScreenActivity"
            android:label="@string/title_activity_login_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".BeforeLogin.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>